@if (Request.IsAuthenticated)
{
   
        <div style="color:white;padding:10px; font-size:large" class="navbar-right">
            WellCome:- @User.Identity.Name
            &nbsp &nbsp <div class="navbar-right">@Html.ActionLink("Logout", "logout", "Auth")</div>
            <div><ul class="nav navbar-nav navbar-right">
    
                     <li>@Html.ActionLink("Edit Profile", "Editprofile", "Auth", null, new { @class = "clicklink" })</li>
                     <li>@Html.ActionLink("ChangePassword", "Changepassword", "Auth", null, new { @class = "clicklink" })</li>

                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Register", "Register", "Auth", null, new { @class = "clicklink" })</li>
    <li>@Html.ActionLink("Department", "IndexDept", "Empss", null, new { @class = "clicklink" })</li>
    <li>@Html.ActionLink("Employee", "Index", "Empss", null, new { @class = "clicklink" })</li>
                    
                }
                 </ul></div>
        </div>

}
else
{
    <div class="navbar-right" style="margin-top: 10px; font-size:large">@Html.ActionLink("LogIn", "LogIn", "Auth", null, new { @class = "clicklink" })
    
        
    </div>

}



