@if (Request.IsAuthenticated)
{
   
        <div style="color:white;padding:10px; font-size:large" class="navbar-right">
            WelCome:- @User.Identity.Name
            &nbsp &nbsp <div class="navbar-right">@Html.ActionLink("Logout", "logout", "Auth")</div>
            <div><ul class="nav navbar-nav navbar-right">
    
                     <li>@Html.ActionLink("Edit Profile", "Editprofile", "Auth", null, new { @class = "clicklink" })</li>
                     <li>@Html.ActionLink("Change Password", "Changepassword", "Auth", null, new { @class = "clicklink" })</li>

                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Register NewUser", "Register", "Auth", null, new { @class = "clicklink" })</li>
                    <li><a href="#/Department">Department</a></li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee", null, new { @class = "clicklink" })</li>
                    <li><a href="/Employee">Employee</a></li>

                }
                 </ul>
            </div>
        </div>

}
else
{
    <div class="navbar-right" style="margin-top: 10px; font-size:large">@Html.ActionLink("LogIn", "LogIn", "Auth", null, new { @class = "clicklink" })
    
        
    </div>

}



