@model WebApplication2.ViewModel.Userlogon
@{
    ViewBag.Title = "Login";
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {


        $("#btnCreate").click(function () {
            Dialog($("#add"));

            $("#add").dialog("open");
        });



        //Method to Initialize the DialogBox
        function Dialog($element) {


            $element.dialog({
                autoOpen: false,
                width: 400,
                resizable: true,
                draggable: true,
                title: "Add User",
                model: true,
                //show: 'slide',
                show: function() {$(this).fadeIn(300);},
                closeText: 'x',
                //dialogClass: 'alert',
                closeOnEscape: true,
               
                open: function (event, ui) {
                    //Load the Partial View Here using Controller and Action
                    $element.load('/Check/Newuser');
                },

                close: function () {
                    $(this).dialog('close');
                }

            });

        }
    });


</script>

    <h2>Login</h2>
    @using (Html.BeginForm())
    {
        Html.ValidationSummary(true);

        <div>@ViewBag.message</div>
        <div>@Html.LabelFor(e => e.Emailid)</div>
        <div>
            @Html.EditorFor(e => e.Emailid)
        @Html.ValidationMessageFor(e => e.Emailid)
    </div>
        <div>@Html.LabelFor(p => p.Password)</div>
        <div>
            @Html.EditorFor(p => p.Password)
        @Html.ValidationMessageFor(e => e.Password)
    </div>
        <div>@Html.CheckBoxFor(m => m.RememberMe)</div>
        <div>@Html.LabelFor(m => m.RememberMe)</div>
        <div><input type="submit" value="Login" /></div>
    }
<div id="add" title="Add User"
     style="overflow: hidden;
border-bottom-width:5"></div>
   
<div><a href="#" id="btnCreate">Create</a> </div>
