@model WebApplication2.Models.Item
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
    <div>@Html.LabelFor(n=>n.Itemname)</div>
    <div>@Html.EditorFor(n=>n.Itemname)
        @Html.ValidationMessageFor(n=>n.Itemname)
    </div>
    <div>@Html.LabelFor(p=>p.Itemprice)</div>
    <div>@Html.EditorFor(p=>p.Itemprice)
        @Html.ValidationMessageFor(p=>p.Itemname)
    </div>
    <div>@Html.LabelFor(s=>s.Startdate)</div>
    <div>
        @Html.JQueryUI().DatepickerFor(model => model.Startdate)

    @Html.ValidationMessageFor(s => s.Startdate)
</div>
    <div>@Html.LabelFor(s => s.Enddate)</div>
    <div>
        @Html.JQueryUI().DatepickerFor(model => model.Enddate)

        @Html.ValidationMessageFor(s => s.Enddate)
    </div>
    <input type="submit" value="Create"/>
}
<div>@Html.ActionLink("Back to List","Index",new{id=0})</div>

