
@model WebApplication2.Models.Bid
@{
    ViewBag.Title = "Detail";
}


@using (Ajax.BeginForm("Detail", "Itemmanager", new { itemid = @ViewBag.id, createon = @ViewBag.start, registerid = @ViewBag.userid }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "Thankyou", InsertionMode = InsertionMode.Replace, OnBegin = "$('#Thankyou').hide().fadeIn(1000)", OnComplete = "$('#frmID').hide().fadeOut(1500)" }, new { @id = "frmID" }))
{<h2>Detail</h2>
    <p>
        <em><strong>Iteam:</strong></em> @ViewBag.name
    </p>
    <p>
        <em><strong>Price:</strong></em> @ViewBag.pri
    </p>
    <p>
        <em><strong>Starting Date:</strong></em> @ViewBag.start
    </p>
    <p>

    </p>
    <p>
        <em><strong>Enter you Bid Amount:</strong></em>@Html.EditorFor(b => b.Amount)
    </p>

    <input type="submit" value="Submit" id="FadeIn1a" />

}
@*<div>@Html.ActionLink("Back to List", "Index", new { id = @ViewBag.userid })</div>*@
<div id="Thankyou"></div>