
@model WebApplication2.Models.Bid
@{
    ViewBag.Title = "Detail";
}
<script>
    $(function() {
        $("#swa").submit(function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            window.location.hash = url;
            $.ajax({
                
                url: url,
                data: $("#swa").serialize(),
                type: "POST",
                success: function (data) {
                    $("#swa").hide();
                    $('#Thankyou').hide().html(data).fadeIn("slow");
                }
            });

        });
    }    
    );
</script>

@using (Html.BeginForm("Detail", "Itemmanager", new { itemid = @ViewBag.id, createon = @ViewBag.start, registerid = @ViewBag.userid },FormMethod.Post,new{id="swa"}))
{<h2>Detail</h2>
    <p>
        <em><strong>Iteam:</strong></em> @ViewBag.name
    </p>
    <p>
        <em><strong>Price:</strong></em> @ViewBag.pri
    </p>
    <p>
        <em><strong>Starting Date:</strong></em> @ViewBag.start
    </p>
    <p>

    </p>
    <p>
        <em><strong>Enter you Bid Amount:</strong></em>@Html.EditorFor(b => b.Amount)
    </p>

    <input type="submit" value="Submit" id="FadeIn1a" />

}
@*<div>@Html.ActionLink("Back to List", "Index", new { id = @ViewBag.userid })</div>*@
<div id="Thankyou"></div>