@model IEnumerable<WebApplication2.Models.Item>
 
@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $("#divProgress").css("display","none");
    });
</script>

    <h2>List of Iteams</h2>



    <table id="my">
        <tr>

            <th>
                @Html.DisplayNameFor(n=>n.Itemname)
            </th>
            <th style="padding:20px">
                @Html.DisplayNameFor(model => model.Itemprice)
            </th>
            <th style="padding:20px">
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th style="padding:20px">@Html.DisplayNameFor(model => model.Enddate)</th>

        </tr>


        @foreach (var items in Model)
    {
        <tr>

                <td>
                    @Html.DisplayFor(modelItem => items.Itemname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Itemprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Enddate)
                </td>

                <td>

                    @*@Html.ActionLink("Bid Now", "Detail", new { id = items.ItemId, userid = @ViewBag.Register,name=items.Itemname,pri=items.Itemprice,start=items.Startdate }) |*@

                    @Ajax.ActionLink("Bid now", "Detail", new { id = items.ItemId, userid = @ViewBag.Register, name = items.Itemname, pri = items.Itemprice, start = items.Startdate }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CustomerList", OnComplete = "$('#CustomerList').hide().fadeIn(1500)", LoadingElementId = "divProgress", LoadingElementDuration = 1000 })


                </td>
            </tr>


    }

    </table>
<div id="divProgress">
    <img src='@Url.Content("~/images/ProgressCircle.gif")'/></div>
    <div id="CustomerList"></div>
<div id="divMsg"></div>
