@model IEnumerable<WebApplication2.Models.Item>
@{
    ViewBag.Title = "Index";
}

<h2>List of Iteams</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>

        <th>
            @Html.DisplayNameFor(n=>n.Itemname)
        </th>
        <th style="padding:20px">
            @Html.DisplayNameFor(model => model.Itemprice)
        </th>
        <th style="padding:20px">
            @Html.DisplayNameFor(model => model.Bids.)
        </th>
        <th style="padding:20px">@Html.DisplayNameFor(model => model.Enddate)</th>
        
    </tr>


    @foreach (var items in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => items.Itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Itemprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Enddate)
            </td>
            
            <td>

                @Html.ActionLink("Bid Now", "Detail", new { id = items.ItemId, userid = @ViewBag.Register }) |

               
            </td>
        </tr>
    }
    
</table>
<div></div>
