@model WebApplication1.Models.Emp
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{//<div>@Html.HiddenFor(m=>m.DeptId)</div>
    @Html.ValidationSummary(true)
    <div>@Html.LabelFor(m => m.Empname)</div>
    <div>@Html.EditorFor(m => m.Empname)</div>

    <div>@Html.ValidationMessageFor(m=>m.Empname)</div>
    <div>@Html.LabelFor(m => m.Empemail)</div>
    <div>@Html.EditorFor(m => m.Empemail)</div>
    <div>@Html.ValidationMessageFor(m => m.Empemail)</div>
    <div>@Html.LabelFor(m => m.DeptId,"Department")</div>
    <div>@Html.DropDownList("DeptId", String.Empty)</div>
    <div><input type="submit" value="Create" /></div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>