
@model WebApplication1.Models.Emp
@{
    ViewBag.Title = "Create";
}
<script>
    $(function () {
        $("#sub").click(function (e) {
            e.preventDefault();
       
            var emp = new employeemodel();
            //var url = $(this).attr('action');
            $.ajax({

                url: "/Empss/Create",
                data:JSON.stringify(emp),
                type: "POST",
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#sub").hide();
                    $("#sd").hide();
                    $("#cre").show();
                    $("#cre").text(data);

                }
            });

        });
    }
    );

    function employeemodel() {
        var ss = this;
        ss.Empname = $("#Empname").val();
        ss.Empemail = $("#Empemail").val();
        ss.DeptId = $("#DeptId").val();
    }
</script>


<div style="margin-top:auto">
    @using (Html.BeginForm("Create", "Empss" , FormMethod.Post))
    {//<div>@Html.HiddenFor(m=>m.DeptId)</div>
        @Html.ValidationSummary(true)
    <h2>Create</h2>
        <div>@Html.LabelFor(m => m.Empname)</div>
        <div>@Html.EditorFor(m => m.Empname)</div>

        <div>@Html.ValidationMessageFor(m => m.Empname)</div>
        <div>@Html.LabelFor(m => m.Empemail)</div>
        <div>@Html.EditorFor(m => m.Empemail)</div>
        <div>@Html.ValidationMessageFor(m => m.Empemail)</div>
        <div>@Html.LabelFor(m => m.DeptId, "Department")</div>
        <div>@Html.DropDownList("DeptId", String.Empty)</div>

    }

    <div><input type="submit" value="Create" id="sub"></div>
</div>