@model WebApplication1.ViewModel.Newur
@{
    ViewBag.Title = "Newuser";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>



@using (Html.BeginForm())
{@Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <h1>Register NewUser </h1>
    <div>@Html.LabelFor(n => n.Name)</div>
    <div>
        @Html.EditorFor(n => n.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>@Html.LabelFor(e => e.Emailid)</div>
    <div>
        @Html.EditorFor(e => e.Emailid)
        @Html.ValidationMessageFor(m => m.Emailid)
    </div>
   
    <div>@Html.LabelFor(p => p.Country)</div>
    <div>
        @Html.EditorFor(p => p.Country)
        @Html.ValidationMessageFor(m => m.Country)
    </div>

    <div><input type="submit" value="Create" /></div>

}


