@model WebApplication1.ViewModel.Newur
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>
   
        $('#old').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('action');
            debugger;
            
            $.ajax({
                url: url,
                data:$("#old").serialize(),
                type:POST,
                success: function (data) {

                    $('#sd').hide().html(data).fadeIn(500);
                    $("#Progress").hide();
                    $("#upd").hide();
                    $("#del").hide();
                    $("#cre").hide();
                    $("#signin").show();
                    $("#crt").hide();
                }
            });


        });
  
</script>

<div style="margin-top:50px;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <h1>Change Password </h1>

        <p>@ViewBag.wrong</p>
       <div>@Html.Label("oldpsd","Enter OldPassword")</div>
    <div>@Html.TextBox("oldpassword") </div>
        @*<div><input type="text" name="oldpassword"/></div>*@

        <div>@Html.LabelFor(p => p.Password)</div>
        <div>
            @Html.EditorFor(p => p.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>@Html.LabelFor(p => p.ConfirmPassword)</div>
        <div>
            @Html.EditorFor(p => p.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    <div><input type="submit" value="Create" id="old" /></div>

    }
   
</div>
