@model WebApplication1.AppUser

@{
    ViewBag.Title = "Editprofile";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

<script src="~/Scripts/Editprofile.js"></script>

@using (Html.BeginForm("Editprofile", "Auth", null, FormMethod.Post, new { id = "editprf" }))
    
{<h2>Edit Profile</h2>
    
  
    @Html.ValidationSummary(true)
    <div>@Html.LabelFor(p=>p.UserName)
   
    </div>
    <div>@Html.EditorFor(p => p.UserName, new { htmlAttributes = new { @class = "form-control" }, })
    @Html.ValidationMessageFor(p => p.UserName, null, new { @class = "text-danger" })
    </div>
    <div>@Html.Label("Email-Id")</div>
    <div>@Html.EditorFor(p => p.Email, new { htmlAttributes = new { @class = "form-control" }, })
        @Html.ValidationMessageFor(p => p.Email, null, new { @class = "text-danger" })
    </div>
    <div>@Html.LabelFor(p => p.Country)</div>
    <div>@Html.EditorFor(p => p.Country, new { htmlAttributes = new { @class = "form-control" }, })
       
    </div>
    <div><input type="submit" value="Update" class="btn btn-primary" style="margin-top:10px;font-weight:bold" /></div>
}
<div id="edit"></div>