
@model WebApplication1.Models.LogInModel
@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <div> @Html.LabelFor(m => m.Email)</div>
    <div> @Html.EditorFor(m => m.Email)</div>
    <div> @Html.LabelFor(m => m.Password)</div>
    <div> @Html.EditorFor(m => m.Password)</div>
    <p>
        <button type="submit">Log In</button>
    </p>
}