@model WebApplication1.Models.LogInModel
@{
    ViewBag.Title = "Log In";
}
<script>
    $(function () {
        $('.Rgst').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $("#divProgress").show();
            $.ajax({
                url: url,

                success: function (data) {

                    $('#crt').hide().html(data).fadeIn(500);
                    $("#signin").hide();
                    $("#divProgress").hide();

                }
            });
        });
    });
</script>
@*<script>
    $("body").ajaxError(function (event, XMLHttpRequest, ajaxOptions, thrownError) {
        if (XMLHttpRequest.status == 401) {
            alert("unauthorized");
        }
    });

    </script>*@
@*<script>
    $(function () {
        $('#signin').submit(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $("#divProgress").show();
    $.ajax({
        url: url,
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        statusCode: {
            200: function (data) {
                alert('200: Authenticated');
                // Bind the JSON data to the UI
            },
            401: function (data) {
                alert('401: Unauthenticated');
                // Handle the 401 error here.
            }
        }
    });
        });
    });
</script>*@
@*<script>
    $('#signin').bind('invalid-form.validate', function (e) {
     e.preventDefault();
        window.location.href = "/Auth/Login/";
    });

    </script>*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signin" }))
{<h2>Log In</h2>

@Html.ValidationSummary(true)
    <div> @Html.LabelFor(m => m.Email)</div>
    <div> @Html.EditorFor(m => m.Email)</div>
    <div> @Html.LabelFor(m => m.Password)</div>
    <div> @Html.EditorFor(m => m.Password)</div>
    <p>
        <button type="submit">Log In</button>
    </p>
    <div>@Html.ActionLink("Register", "Register", "Auth", new { @class = "Rgst" })</div>
}

<div id="divProgress" style="display:none;">
    <img src='@Url.Content("~/images/ProgressCircle.gif")' />
</div>
<div id="crt"></div>
