@model WebApplication1.ViewModel.Newur
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>
    $(function () {
        $("#new").submit( function (e) {
            e.preventDefault();
        
            var url = $(this).attr('action');
            //window.location.hash = url;

            $.ajax({
                url: url,
                data: $("#new").serialize(),
                type: "POST",
                success: function (data) {

                    $('#sd').hide().html(data).fadeIn(500);
                    $("#Progress").hide();
                    $("#upd").hide();
                    $("#del").hide();
                    $("#cre").hide();
                    $("#signin").show();
                    $("#crt").hide();
                    $("#old").hide();
                }
            });


        });
    });
</script>



<div style="margin-top:50px;">
    @using (Html.BeginForm("Newpassword", "Auth", null, FormMethod.Post, new { id = "new" }))
    {@Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <h1>Enter New Password </h1>
         <div>@Html.LabelFor(p => p.Password)</div>
        <div>
            @Html.EditorFor(p => p.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>@Html.LabelFor(p => p.ConfirmPassword)</div>
        <div>
            @Html.EditorFor(p => p.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div><input type="submit" value="Create" /></div>

    }
</div>
